$padding: 20px;

%carousel {
  padding: $padding;
  border: 100px;
  border-style: solid;
  
}

#first-carousel {
  @extend %carousel;
  border-color: #21252b;
}

#second-carousel {
  @extend %carousel;
  border-color: #071047;
}

#third-carousel {
  @extend %carousel;
  border-color: #2c063d;
}

 table {
   text-align: center;

   thead {
     background-color: gray;
   }

   tbody {
     background-color: white;
   }
 }
