h1 {
    color: white;
    text-align: center;
    background-image:url("https://us.123rf.com/450wm/usbfco/usbfco1511/usbfco151100063/48140848-stock-vector-starry-light-background-for-your-design.jpg?ver=6");
    background-repeat: no-repeat;
}

body {
}
