@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");


/* media queries */
@media (max-width: 992px){

}
@media (max-width: 768px){

}
@media (max-width: 576px){

}


a.nav-link {
  color: white !important;
}

a.nav-link:hover {
  color: grey !important;
}

/*carousel fix*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease; -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/* bootstrap padding fix */
[class*="col-"] {
    padding: 1rem;
}
